.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 3rem;
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}
