.wrapper {
  width: 20rem;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.card__header__imgName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__header__star {
  cursor: pointer;
  transition: 0.3s all ease-in;
  user-select: none;
}

.card__body__link {
  color: #0070f2;
}
