.container {
  height: 100vh;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.footer__wrapper {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .footer {
    position: absolute;
    width: 98%;
  }
}
